.categories-list {
  list-style-type: none;
}

.categories-list a {
  display: block;
  width: 100%;
  text-decoration: none;
  margin: 5px 0;
  padding: 5px;
}

.categories-list li.active a,
.categories-list a:hover {
  background-color: rgba(0, 0, 0, 0.541176);
  color: white;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.541176);
}
