.container .product .photos .picture {
  width: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.container .product .photos .picture img,
.container .product .photos .big-picture img {
  height: auto;
  max-width: 100%;
  cursor: zoom-in;
}

.container .product .photos .big-picture {
  width: 300px;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 20px;
}

.container .product .photos {

  background-color: #eaedf4;
  display: flex;
  flex-flow: row wrap;
  height: 500px;
}

.container .product .photos .previews {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  overflow-y: scroll;
  margin-left: 20px;
}

.container .product {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 1;
}

.container .filter-panel {
  width: 300px;
}

.container {
  display: flex;
}

.container .product .info {
  flex: 1 40%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
